body { 
    margin: 0; 
    overflow: hidden; /* pas de scrollbars */
}
#whiteboard { 
    display: block; 
    background: #fff; 
    cursor: crosshair; 
}

.fab-toolbar {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #0056b3;
    width: 60px;
    

    
    transition: all 0.4s ease-in-out;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
    
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.fab-toolbar.closed {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.fab-toolbar.open {
    width: 60px;
    height: 300px;
    border-radius: 50px;
    background-color: bisque;
}

.fab-trigger {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fab-icon {
    width: 28px;
    height: 28px;
    transition: transform 0.4s;
}

.fab-toolbar.open .fab-icon {
    transform: rotate(-90deg);
}

.fab-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
    width: 100%;
    opacity: 0; 
    transition: opacity 0.3s ease 0.1s;
}

.fab-toolbar.open .fab-options {
    opacity: 1; 
}

.tool-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}